<html>  
<head>
    <title>Вход в аккаунт</title>
    <meta charset="utf-8" />
</head> 
<body style="background-color: #FFF0F5">  
<form method="POST" style="text-align: center; margin-top: 200px; font-size: 25px;">  
Имя: <input type="text" name="firstName" class="field"> <p></p> 
Фамилия: <input type="text" name="secondName" class="field"><p></p>
Логин: <input type="text" name="logIn" class="field" style="">
<p></p>
Пароль: <input type="password" name="password" class="field">
<hr style="width: 300px;border: 2px solid purple;">
   
<input type="submit" value="Войти" style="font-size: 20px;"> 

<p><a href="/registration">Зарегистрироваться</a></p> 
</form>
  
</body>  
</html> 