<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Новости</title>
	<link rel="stylesheet" href="css/style3.css">
</head>
	<body>

		<section class="sec1"></section>
		<div class="sec-text">
			<h3 class="sec-text__title">24.5.2020 В Крыму началось массовое цветение маков</h3>
			<p class="sec-text__dsc">В Крыму массово распустились дикие маки. Алые цветущие поля — любимое место для фотосессий. Маковые поля расцвели в Бахчисарайском районе, под Евпаторией, в районе Николаевки.</p>
		</div>

		<section class="sec2"></section>
		<div class="sec-text">
			<h3 class="sec-text__title">8.4.2020 Бедные розы: как мир избавляется от лишних цветов</h3>
			<p class="sec-text__dsc">Миллионы распускающихся бутонов пустили под нож из-за малого спроса, возникшего из-за коронавируса.</p>
		</div>

		<section class="sec3"></section>
		<div class="sec-text">
			<h3 class="sec-text__title">7.3.2020 Флорист рассказала о способах продлить жизнь букетов</h3>
			<p class="sec-text__dsc">Флорист Ирина Василькова рассказала о правилах ухода за срезанными цветами, которые позволят продлить жизнь букетам, подаренным на 8 Марта.Тюльпанам и ранункулюсам нужно немного воды. Перед тем, как ставить в воду, их нужно подрезать. Когда они «выпьют» всю жидкость в вазе, воды нужно долить, хватит совсем небольшого количества, буквально на высоту двух пальцев.Розы довольно капризны, им нужно каждый день менять воду и подрезать.</p>
		</div>

		<section class="sec4"></section>
		
	</body>
</html>