<html>  
<head>
	<title>Регистрация нового пользователя</title>
</head>
<body style="background-color: #FFF0F5">  
 
<form method="POST" style="text-align: center; margin-top: 200px; font-size: 25px;">  
Имя: <input type="text" name="firstName" class="field"> <p></p> 
Фамилия: <input type="text" name="secondName" class="field"><p></p>    
Логин: <input type="text" name="logIn" class="field"><p></p>
Пароль: <input type="password" name="password" class="field"><p></p>
   
<input type="submit" value="Зарегистрироваться!">  
</form>
</body>  
</html>  